a{
    color: #3D58A6;
}
body{
    padding-top: 100px;
}
.header-wrapper{
    position: fixed;
    background-color:white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}
.logo{
    margin-top: 20px;
    margin-left: 100px;
}
.logo-img{
    width: 196.73px;
    height: 60px;
}
.nav-bar{
    display: flex;
}
.nav-ul{
    display: flex;
    margin-top: 35px;
}
.nav-li{
    font-family: 'Roboto-Regular', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
}
.nav-li:nth-child(1){
    margin-left: 103px;
}
.nav-li:nth-child(2){
    margin-left: 31px;
}
.nav-li:nth-child(3){
    margin-left: 35px;
}
.nav-li:nth-child(4){
    margin-left: 24px;
}
.g-icon-class{
    width: 47px;
    height: 30px;
    margin-left: 155px;
}
.fb-icon-class{
    height: 30px;
    margin-left: 50px;
}
.yt-icon-class{
    margin-left: 65px;
}
.loop-icon-class{
    margin-left: 60px;
}
.section-1{
    padding: 30px 100px;
    background-color: #E6E6E6;
}
.photo-container{
    width: 1170px;
    height: 460px;
    position: relative;
}
.img-of-pc{
    width: 1170px;
    height: 460px;
}
.section1-h5{
    width: 339px;
    height: 147px;
    font-size: 30px;
    color: #E6E6E6;
    position: absolute;
    bottom: 5px;
    left: 18px;
}
.section-2{
    background: #363E97;
    width: 100%;
}
.section2-h5{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 23px;
    color: #FFFFFF;
    width: 254px;
    height: 32px;
    padding-top: 30px;
    margin-left: 100px;
}
.vid-div{
    width: 570px;
    height: 320px;
    background: white;
}
.vid-div:nth-child(1){
    margin-top: 90px;
    margin-left: 100px;
    margin-bottom: 90px;
}
.vid-div:nth-child(2){
    margin-top: 90px;
    margin-left: 30px;
    margin-bottom: 90px;
}
.videos-2-div{
    display: flex;
}
.vid-text{
    font-size: 16px;
    font-family: 'Myriad Pro', sans-serif;
    width: 320px;
    height: 22px;
}
.section-3{
    background: #BDCCD4;
    width: 100%;
}
.section3-h5{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 23px;
    width: 225px;
    height: 32px;
    padding-top: 30px;
    margin-left: 100px;
    color: #3D58A6;
}
.four-divs{
    display: flex;
}
h6{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 22px;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 17px;
    margin-left: 14px;
}
.news-divs{
    background: #E6E6E6;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 90px;
}
.news-divs:nth-child(1){
    margin-left: 98px;
}